/target/
SOFProject/Projet-SOF/.settings/org.eclipse.jpt.core.prefs
SOFProject/Projet-SOF/.settings/org.eclipse.jdt.core.prefs
SOFProject/Projet-SOF/.settings/org.eclipse.wst.common.project.facet.core.prefs.xml
